<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <title>Registration Form - Ur-Weather</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="/register_login/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/register_login/css/mdb.min.css" rel="stylesheet">
    <link href="/register_login/css/register.css" rel="stylesheet">

    <!--    Validate Form Using Javascript-->
    <script>
        // Defining a function to display error message
        function printError(elemId, hintMsg) {
            document.getElementById(elemId).innerHTML = hintMsg;
        }

        // Defining a function to validate form
        function validateForm() {
            // Retrieving the values of form elements
            var username = document.regisForm.username.value;
            var email = document.regisForm.email.value;
            var password = document.regisForm.password.value;
            var firstName = document.regisForm.firstName.value;
            var lastName = document.regisForm.lastName.value;
            var cfPass = document.regisForm.cfPass.value;


            // Defining error variables with a default value
            var nameErr = emailErr = cfErr = pwErr = fnameErr = lnameErr = true;

            // Validate firstname
            if (firstName == "") {
                printError("fnameErr", "Please enter your first name");
            } else {
                printError("fnameErr", "");
                fnameErr = false;
            }

            // Validate lastname
            if (lastName == "") {
                printError("lnameErr", "Please enter your last name");
            } else {
                printError("lnameErr", "");
                lnameErr = false;
            }

            // Validate name
            if (username == "") {
                printError("nameErr", "Please enter your name");
            } else {
                var regex = /(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,32}$/;
                if (regex.test(username) === false) {
                    printError("nameErr", "Please enter a valid name");
                } else {
                    printError("nameErr", "");
                    nameErr = false;
                }
            }

            // Validate email address
            if (email == "") {
                printError("emailErr", "Please enter your email address");
            } else {
                // Regular expression for basic email validation
                var regex = /^\S+@\S+\.\S+$/;
                if (regex.test(email) === false) {
                    printError("emailErr", "Please enter a valid email address");
                } else {
                    printError("emailErr", "");
                    emailErr = false;
                }
            }

            // Validate password
            if (password == "") {
                printError("pwErr", "Please enter your password");
            } else {
                var regex = /^[/w]\d{8,32}$/;
                if (regex.test(password) === false) {
                    printError("pwErr", "Please enter a valid 10 digit mobile number");
                } else {
                    printError("pwErr", "");
                    pwErr = false;
                }
            }

            // Validate confirm password
            if (cfPass == "") {
                printError("cfErr", "Please enter your confirm password");
            } else {
                var regex = /^[/w]\d{8,32}$/;
                if (regex.test(cfPass) === false) {
                    printError("cfErr", "Please enter a valid 10 digit mobile number");
                } else {
                    printError("cfErr", "");
                    cfErr = false;
                }
            }
        }

    </script>
</head>
<body>
<!--<div class="wow fadeInRight" data-wow-delay="0.3s" style="width: 100%">-->
    <div class="signup-form">
        <form th:action="@{/registration}"
              th:object="${user}" method="post" class="form-horizontal" role="form">
            <div th:if="${param.success}">
                <div class="alert alert-info"><b>You've successfully registered!!!</b></div>
            </div>
            <h2>Sign Up</h2>
            <hr>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                        <input type="text" class="form-control" name="firstName"
                               placeholder="First Name" th:field="*{firstName}">
                        <p class="error-message"
                           th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}" style="color: red; margin: 0">Validation
                            error</p>
                        <div class="error" id="fnameErr"></div>
                    </div>
                    <div class="col-xs-6" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                        <input
                                type="text" class="form-control" name="lastName"
                                placeholder="Last Name" th:field="*{lastName}">
                        <p class="error-message"
                           th:each="error: ${#fields.errors('lastName')}"
                           th:text="${error}" style="color: red; margin: 0">Validation
                            error</p>
                        <div class="error" id="lnameErr"></div>
                    </div>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                <input type="email" class="form-control" name="username" placeholder="Username" th:field="*{username}">
                <p class="error-message" style="color: red;  margin: 0"
                   th:each="error : ${#fields.errors('username')}" th:text="${error}">Validation
                    error</p>
                <div class="error" id="nameErr"></div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <input type="email" class="form-control" name="email" placeholder="Email" th:field="*{email}">
                <p class="error-message" style="color: red;  margin: 0"
                   th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                    error</p>
                <div class="error" id="emailErr"></div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <input type="password" class="form-control" name="password" placeholder="Password" minlength="8"
                       maxlength="32">
                <p class="error-message" style="color: red;  margin: 0"
                   th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
                <div class="error" id="pwErr"></div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                <input type="password" class="form-control" name="cfPass" placeholder="Confirm Password"
                       th:field="*{confirmPassword}">
                <p class="error-message" style="color: red;  margin: 0"
                   th:each="error : ${#fields.errors('confirmPassword')}"
                   th:text="${error}">Validation error</p>
                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   style="color: red; text-align: center"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                    error</p>
                <div class="error" id="cfErr"></div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-lg">Sign Up</button>
            </div>
            <div class="hint-text">Already have an account? <a th:href="@{/login}">Login here</a></div>

        </form>
    </div>
<!--</div>-->

<!-- JQuery -->
<script type="text/javascript" src="/register_login/js/jquery-3.3.1.min.js"></script>
<!-- Tooltips -->
<script type="text/javascript" src="/register_login/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/register_login/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/register_login/js/mdb.min.js"></script>
<script>
    new WOW().init();
</script>
</body>
</html>
