<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        body {
            background: url("https://d2eohwa6gpdg50.cloudfront.net/content/uploads/2018/08/07064020/BMW-i8-Roadster.jpg") no-repeat center center fixed;
            background-size: cover;
            overflow: hidden;
        }
        .container{
            width: 1050px;
            height: 570px;
            background: white;
            opacity: 0.8;
            border-style: solid;
            border-radius: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <form th:action="@{/}" method="get">
                <button class="btn btn-md btn-primary btn-block" style="margin-left: 10px">Home
                </button>
            </form>
        </li>

        <li class="nav-item">
            <form th:action="@{/admin/management}" method="get">
                <button class="btn btn-md btn-primary btn-block"
                        style="margin-left: 30px">Management
                </button>
            </form>
        </li>

        <li class="nav-item">
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-primary" name="registration"
                        type="Submit" style="margin-left: 1000px">Logout
                </button>
            </form>
        </li>
    </ul>
</nav>

<div class="container">
    <h2>User Management</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>User</th>
            <th>Email</th>
            <th>Active</th>
            <th>Role</th>
            <th></th>
        </tr>
        </thead>
        <tr th:each="user,iterStat : ${listUsers}" th:data-id="${user.id}">
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.email}"></td>
            <td><input class="checkbox1" type="checkbox" th:checked="${user.active}">
            </td>
            <td><select id="idselect" class="form-control">
                <option th:each="item : ${user.roleName}" th:utext="${item.roleName}"></option>
                <!--                    <option th:each="role : ${dsRole}"-->
                <!--                            th:value="${role.roleId}" th:utext="${role.role}"></option>-->

            </select></td>
            <!--                <span sec:authentication="principal.authorities"></span>-->
            <td>
                <a class="text-info" th:href="@{/admin/delete/__${user.id}__}"
                   onclick="return confirm('Bạn có muốn xoá tài khoản này hay không?')"
                   title="Xóa Lead"><i
                        class="fa fa-trash" style="color: #007bff !important"></i></a>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    $(document).ready(function () {
        $('.checkbox1').change(function () {
            if ($(this).is(":checked")) {
                var returnVal = confirm("Are you sure change this account to enable?");
                if (returnVal) {
                    var id = $(this).closest("tr").attr("data-id");
                    $.ajax({
                        url: "/admin/edit-status-user",
                        type: "GET",
                        data: {
                            id: id,
                        },
                    })
                } else {
                    $(this).prop('checked', returnVal);
                }
            } else {
                var returnVal = confirm("Are you sure change this account to disable?");
                $(this).attr("checked", returnVal);
                if (returnVal) {
                    var id = $(this).closest("tr").attr("data-id");
                    $.ajax({
                        url: "http://localhost:8080/admin/edit-status-user",
                        type: "GET",
                        data: {
                            id: id,
                        },
                    })
                }
            }
        });
    })
</script>
</html>
