<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="layouts/main_layout :: layout"></th:block>

<body>
<!-- topbar starts -->
<header>
    <!-- topbar starts -->
    <div class="navbar navbar-default" role="navigation">

        <div class="navbar-inner">
            <a class="navbar-brand" th:href="@{/}"> <img alt="Charisma Logo" src="img/logo10.png"/>
                <span class="hidden-xs"></span></a>
            <div class="search_form" style="float: left">
                <form th:action="@{/search-city}" method="get">
                    <input type="text" class="form-control" name="cityName" placeholder="Search Location"
                           style="text-align: left">
                    <div class="input-group-append" style="text-align: right">
                        <button class="btn btn-secondary" type="submit"
                                style="margin-top: -70px; background-color: #ffffff00;">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- user dropdown starts -->
            <div class="btn-group pull-right">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <i class="glyphicon glyphicon-user"
                       th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"><span
                            class="hidden-sm hidden-xs"
                    >Admin</span></i>
                    <i class="glyphicon glyphicon-user"
                       th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"><span class="hidden-sm hidden-xs"
                    > User</span></i>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="nav-item"
                        th:if="${#authorization.expression('hasRole(''ROLE_USER'')') && #authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a th:href="@{/admin}">Your Profile</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a th:href="@{/admin}">Management</a>
                    </li>
                    <li class="divider"></li>
                    <li><a th:href="@{/logout}">Log-out</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!-- topbar ends -->
<div class="ch-container">
    <div class="row">

        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="sidebar-nav">
                <div class="nav-canvas">
                    <div class="nav-sm nav nav-stacked">

                    </div>
                    <ul class="nav nav-pills nav-stacked main-menu">
                        <li class="nav-header">Main</li>
                        <li><a class="ajax-link" href="index.html"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li class="nav-header hidden-md">Sample Section</li>
                        <li><a class="ajax-link" th:href="@{/admin}"><i
                                class="glyphicon glyphicon-align-justify"></i><span> Tables</span></a></li>
                        <li><a class="ajax-link" href="calendar.html"><i class="glyphicon glyphicon-calendar"></i><span> Calendar</span></a>
                    </ul>
                </div>
            </div>
        </div>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> Datatable</h2>

                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                        class="glyphicon glyphicon-chevron-up"></i></a>
                                <a href="#" class="btn btn-close btn-round btn-default"><i
                                        class="glyphicon glyphicon-remove"></i></a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered bootstrap-datatable datatable responsive">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th>Change Role</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user,iterStat : ${listUsers}" th:data-id="${user.id}">
                                    <td class="center" th:text="${user.username}"></td>
                                    <td class="center" th:text="${user.email}"></td>
                                    <td class="center"><input class="checkbox1" type="checkbox"
                                                              th:checked="${user.active}">
                                    </td>
                                    <td class="center">
                                        <div class="input-group mb-3">
                                            <select class="role" id="inputGroupSelect02">
                                                <option th:each="item : ${user.roleName}" th:utext="${item.roleName}"
                                                        th:value="${item.roleName}">
                                                <option th:each="item : ${user.roleName}" th:utext="ROLE_ADMIN"
                                                        th:if="${item.roleName == 'ROLE_USER'}"
                                                        value="ROLE_ADMIN"></option>
                                                <option th:each="item : ${user.roleName}" th:utext="ROLE_USER"
                                                        th:if="${item.roleName == 'ROLE_ADMIN'}"
                                                        value="ROLE_USER"></option>
                                            </select>
                                        </div>
                                    </td>
                                    <td class="center">
                                        <a class="btn btn-danger" th:href="@{/admin/delete/__${user.id}__}"
                                           onclick="return confirm('Do you want to delete this account?')"
                                           title="Delete Account"> <i class="glyphicon glyphicon-trash"></i>
                                            Delete</a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div><!--/row-->
            <!-- content ends -->
        </div><!--/#content.col-md-0-->
    </div><!--/fluid-row-->


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h3>Settings</h3>
                </div>
                <div class="modal-body">
                    <p>Here settings can be configured...</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal">Save changes</a>
                </div>
            </div>
        </div>
    </div>
</div><!--/.fluid-container-->
<script>
    /**
     * Change Status User
     */
    $(document).ready(function () {
        $('.checkbox1').change(function () {
            if ($(this).is(":checked")) {
                var returnVal = confirm("Do you want to enable this account?");
                if (returnVal) {
                    var id = $(this).closest("tr").attr("data-id");
                    $.ajax({
                        url: "/admin/edit-status-user",
                        type: "GET",
                        data: {
                            id: id,

                        },
                    })
                } else {
                    $(this).prop('checked', returnVal);
                }
            } else {
                var returnVal = confirm("Do you want to disable this account?");
                // $(this).attr("checked", returnVal);
                if (returnVal) {
                    var id = $(this).closest("tr").attr("data-id");
                    $.ajax({
                        url: "/admin/edit-status-user",
                        type: "GET",
                        data: {
                            id: id,
                        },
                    })
                } else {
                    $(this).prop('checked', returnVal);
                    location.reload();
                }
            }
        });
    })

    /**
     * Change Role User
     */
    $(document).ready(function () {
        $("select.role").change(function () {
            var selectedRole = $(this).children("option:selected").val();
            // $("#inputGroupSelect02").val(selectedRole);

            alert("You has changed ROLE of this account is " + selectedRole);
            var id = $(this).closest("tr").attr("data-id");
            console.log(id);
            $.ajax({
                url: "/admin/change-role",
                type: "GET",
                data: {
                    id: id,
                    role: selectedRole
                },
            })
        });
    });

</script>
</body>
</html>
