<th:block th:fragment="layout" xmlns:th="http://www.w3.org/1999/xhtml">
    <!DOCTYPE html>
    <html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
              integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
              crossorigin='anonymous'>
        <!--        The styles-->
        <link id="bs-css" href="pageAdmin/css/bootstrap-cerulean.min.css" rel="stylesheet">
        <link href="pageAdmin/css/charisma-app.css" rel="stylesheet">
        <link href='pageAdmin/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
        <link href='pageAdmin/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
        <link href='pageAdmin/bower_components/chosen/chosen.min.css' rel='stylesheet'>
        <link href='pageAdmin/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
        <link href='pageAdmin/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
        <link href='pageAdmin/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
        <link href='pageAdmin/css/jquery.noty.css' rel='stylesheet'>
        <link href='pageAdmin/css/noty_theme_default.css' rel='stylesheet'>
        <link href='pageAdmin/css/elfinder.min.css' rel='stylesheet'>
        <link href='pageAdmin/css/elfinder.theme.css' rel='stylesheet'>
        <link href='pageAdmin/css/jquery.iphone.toggle.css' rel='stylesheet'>
        <link href='pageAdmin/css/uploadify.css' rel='stylesheet'>
        <link href='pageAdmin/css/animate.min.css' rel='stylesheet'>
        <!---------------------------------------------------------------------------------------------------->

    </head>
    <body>

<!--    <header>-->
<!--        <th:block th:replace="fragments/header :: header"></th:block>-->
<!--    </header>-->
    <footer>
        <th:block th:replace="fragments/footer :: footer"></th:block>
    </footer>
    </body>
    </html>
</th:block>