<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a th:href="@{/}" class="btn btn-md btn-primary btn-block">Home</a>
        </li>
        <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <form th:action="@{/admin/management}" method="get">
                <button class="btn btn-md btn-primary btnAdmin"
                > Management
                </button>
            </form>
        </li>


        <li class="nav-item">
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-primary" name="registration"
                        type="Submit" style="margin-left: 1050px">Logout
                </button>
            </form>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">

        <form th:action="search-city" method="get" class="searchWeather">
            <input name="city" type="text" class="input" required="required"/>
            <button class="btn btn-success" type="submit">Search</button>
        </form>

        <table class="table detail">
            <tr th:each="currentWeather : ${currentWeather}">
                <td>
                    <div class="icon-search">
                        <img th:src="${icon}" class="icon-weather"></div>
                </td>
                <td>
                    <div class="city-date-search">
                        <b><a th:href="@{/weather-detail/__${currentWeather.name}__}"><p
                                th:text="${currentWeather.name} + ', '+ ${currentWeather.sys.country}">
                        </a></b>
                        <p style="margin-top: -6px" th:text="${date}"></p>
                    </div>
                </td>
                <td>
                    <div class="property-search">
                        <div class="badge badge-info" th:text="${temp}+'°С'"></div>
                        <b><i th:text="${description}"></i></b>
                        <p style="margin-top: 9px" th:text="${general}">
                    </div>
                </td>
                <td th:switch="${status}">
                    <a class="btn btn-primary add" th:case="'add'"
                       th:href="@{/save-weather/__${currentWeather.name}__}"
                       >Add</a>
                    <a class="btn btn-warning" th:case="'update'"
                       th:href="@{/update-weather/__${currentWeather.name}__}"
                       style="margin: 10px 5px;">Update</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="chung">
        <table class="table">
            <th:block th:each="weatherList : ${weatherList}">
                <tr class="ty-compact-list detailDB"
                    th:attr="city=${weatherList.nameCity}">
                    <td>
                        <img th:src="${weatherList.icon}" class="icon">
                    </td>
                    <td>
                        <div class="city-date">
                            <b><a th:href="@{/weather-detail/__${weatherList.nameCity}__}">
                                <p class="nameCity"
                                   th:text="${weatherList.nameCity}"></p>
                            </a></b>
                            <p th:text="${weatherList.date}"></p>
                        </div>
                    </td>
                    <td>
                        <div class="property">
                            <div class="badge badge-info"
                                 th:text="${weatherList.temp}+'°С'"></div>
                            <b><i th:text="${weatherList.description}"></i></b>
                            <p style="margin-top: 10px"
                               th:text="${weatherList.wind}+'m/s. '+ ${weatherList.humidity}+'%. '+${weatherList.pressure}+'hpa. '">
                        </div>
                    </td>
                    <td><a class="text-info" th:href="@{/delete-weather/__${weatherList.weatherId}__}"
                           onclick="return confirm('Bạn có muốn xoá dữ liệu này hay không?')"
                           title="Xóa Lead">
                        <button
                                class="btn btn-danger !important">Delete
                        </button>
                    </a></td>
                </tr>
                <tr class="detailDB">
                    <td class="show-more">Show more</td>
                    <!--                            <div class="show-more">Show more</div>-->
                </tr>
            </th:block>
        </table>
    </div>

</div>
</body>
<script>
    var cities = $(".ty-compact-list");
    for (var i = 0; i < cities.length; i++) {
        for (var j = i + 1; j < cities.length; j++) {
            console.log(($(cities[i]).attr("city")));
            console.log(($(cities[j]).attr("city")));
            console.log(($(cities[i]).attr("city")) === ($(cities[j]).attr("city")));

            if (($(cities[i]).attr("city")) === ($(cities[j]).attr("city"))) {
                $('.show-more').hide();
                // if ($('.ty-compact-list').length > 1) {
                //     $('.ty-compact-list:gt(0)').hide();
                //     $('.show-more').show();
                // }
                // $('.show-more').on('click', function () {
                //     //toggle elements with class .ty-compact-list that their index is bigger than 2
                //     $('.ty-compact-list:gt(0)').toggle();
                //     //change text of show more element just for demonstration purposes to this demo
                //     $(this).text() === 'Show more' ? $(this).text('Show less') : $(this).text('Show more');
                // });

            } else {
                $('.show-more').show();
            }
            break;
        }
    }
</script>

</html>
