<!DOCTYPE html>
<html lang="en" id="location" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather Forecast</title>
    <meta name="description" content="city | Weather Forecast  Next 5 days">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href='css/weather.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href='/weather_detail/css/weather_detail.css'>

</head>
<body>
<div class="allContent">
    <header>
        <div class="container">
            <div id="topLogo"><a th:href="@{/}"><b id="icon">Ur-Weather</b></a></div>
            <div class="flex-wrap">
                <div class="header-search ad sys"></div>
                <div class="header-button-group ad sys">
                    <div class="header-button selected"><a href="/en/16d05108d20/da-nang/">&deg;C</a></div>
                    <div class="header-button"><a href="/en/16d05108d20/da-nang/?unit=us">&deg;F</a></div>
                </div>
                <div id="language-btn" class="lang drop-down drop-btn ad sys">
                    <div class="lang-name">en</div>
                    <div class="lang-globe-group">
                        <svg id="lang-globe" viewBox="0 0 24 24">
                            <path fill="#000000"
                                  d="M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/>
                        </svg>
                        <svg id="lang-globe-arrow" style="width:18px;height:18px" viewBox="0 0 24 24">
                            <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                        </svg>
                    </div>
                    <ul id="language-menu" class="drop-down-content">
                        <li>
                            <a href="/fr/16d05108d20/da-nang/">VN</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container ltr" lang="en" dir="ltr">
        <div class="cur-wea" th:object="${currentWeather}">
            <div class="current-weather">
                <div class="col-sm-1"></div>
                <h1><b th:text="*{nameCity}"></b></h1>

                <div class="current-icon">
                    <div class="icon">
                        <div class="w-icon iconvault partly-cloudy-day">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                 enable-background="new 0 0 300 300">
                                <img class="cur-icon" th:src="'http://openweathermap.org/img/w/'+*{icon}+'.png'">
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="current-conditions">
                    <div class="temp" th:text="*{#numbers.formatDecimal(temp - 273.15,2,2)}+'&deg;C'"></div>
                    <div class="summary" th:text="*{description}" style="margin-top: 5px"></div>
                </div>
            </div>
            <div class="current-more-info">
                <ul>
                    <li>humidity: <span th:text="*{humidity}+' %'"></span></li>
                    <li>wind: <span th:text="*{wind}+' m/s'"></span></li>
                    <li>pressure: <span th:text="*{pressure}+' hpa'"></span></li>
                </ul>
            </div>
        </div>

        <div class="forecast next-7-days container">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="forecast-summary">
                    <h2>Next 5 days:</h2>
                </div>
                <div class="col-sm-2"></div>
                <div class="show-hide-details">
                    <div id="show-all-details">
                        <div class="details-sign">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                            </svg>
                        </div>
                        <div>show all details</div>
                    </div>
                    <div id="hide-all-details">
                        <div class="details-sign">
                            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                            </svg>
                        </div>
                        <div>hide all details</div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="daily col-sm-9">
                    <th:block th:each="detail : ${detail}">
                        <div class="day" th:object="${detail}">
                            <div class="main-data">
                                <div class="time" th:text="*{#calendars.format(date, 'dd-MM-yyyy')}"></div>
                                <div class="icon">
                                    <div class="w-icon iconvault rain" style="margin-left: -60px">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
                                             enable-background="new 0 0 300 300">
                                            <img th:src="*{icon}" width="50" style="margin: 15px -220px"
                                                 height="50">
                                        </svg>
                                    </div>
                                </div>
                                <div class="temp">
                                    <span class="hiTemp" th:text="*{#numbers.formatDecimal(temp,2,2)}+'°С'"></span>
                                </div>
                                <div class="summary"></div>
                                <div class="summary"><span th:text="*{description}"></span></div>
                            </div>
                            <div class="more-details">
                                <div class="row">
                                    <span><strong>humidity:</strong><span th:text="*{humidity}+'%'"></span></span>
                                    <span><strong>wind:</strong><span th:text="*{wind}+'m/s'"></span></span>
                                    <span><strong>pressure:</strong><span th:text="*{pressure}+'hpa'"></span></span>
                                </div>
                            </div>
                            <div class="details-sign">
                                <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                    <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
                                </svg>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Toggle More Details panel
        var days = document.getElementsByClassName("day");
        for (var i = 0; i < days.length; i++) {
            (function () {
                var j = i;
                days[j].addEventListener('click', function () {
                    days[j].classList.toggle('show-details');
                }, false);
            }());
        }

        // Show All Details Panels
        var showAll = document.getElementById("show-all-details");
        showAll.addEventListener('click', function () {
            for (var i = 0; i < days.length; i++) {
                days[i].classList.add('show-details');
            }
        }, false);

        // Hide  All Details Panels
        var hideAll = document.getElementById("hide-all-details");
        hideAll.addEventListener('click', function () {
            for (var i = 0; i < days.length; i++) {
                days[i].classList.remove('show-details');
            }
        }, false);
    </script>

    <footer>
        <div class="copyright">copyright &copy; ur-weather.com</div>
    </footer>
</div>
</body>
</html>
