<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="css/500.css" rel="stylesheet">
</head>
<body>
<p class="info">Oh No! Ur-Weather is sad! Internally sad!</p>
<h1 class="internal"><span class="five">5</span><span class="zero">0</span><span class="zero">0</span></h1>
<footer class="link"><a th:href="@{/login}">Ur-Weather.com</a></footer>
</body>
</html>
