body {
    background: url("https://d2eohwa6gpdg50.cloudfront.net/content/uploads/2018/08/07064020/BMW-i8-Roadster.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.container{
    width: 1050px;
    height: 570px;
    background: white;
    opacity: 0.8;
    border-style: solid;
    border-radius: 25px;
}
.btnAdmin{
    margin-left: 5px;
}